<!-- REVIEW: move this to a view helper -->
<% img_url = "http://images.thebar.com/img/drink-recipes/ketel-one-dirty-martini-hero.jpg" %>

<div class="cocktail">
  <%= image_tag(img_url, class: "image") %>
</div>
