<% size = [[200,200],[200,300],[300,200]].sample %>

<%= link_to cocktail_path(cocktail) do %>
<div class="cocktail">
  <%= cl_image_tag(cocktail.image_id, width: size[0], height: size[1], :crop => :fill) %>
</div>


<% end %>
