<div id="overlay">
  <div id="modal">    
      <div class="ingredients_wrapper">
        <%= form_for :parameters, url: cocktails_search_path, remote: true do |f|  %>
        <h2><i class="icon-glass"></i> Pick Some Ingredients</h2>
        <% @ingredients.each_with_index do |ingredient, index| %>

          <%= "<br>".html_safe if index%3 == 0 %>
          <div class="ingredient">
            <%= f.check_box "#{ingredient}" %>
            <%= f.label :name, "#{ingredient.titleize}" %>
          </div>
        <% end %>
        <br>
        <input type="submit"></input>
        
        <button id="close" type="text">Close</button>
    <% end %>
      </div>
  </div>
</div>
