<div class="ingredient">
  <input type="text" name='cocktail[ingredients_attributes][][name]' placeholder="Martini">
  <input type="text" name='cocktail[ingredients_attributes][][quantity]' placeholder="2">
  <input type="text" name='cocktail[ingredients_attributes][][unitofmeasurement]' placeholder="lt">
</div>
