<div id="profile">
  <h1><%= @user.name %></h1>
  <h3>Email: <%= @user.email %></h3>
  <%= image_tag gravatar_url(@user.email) %>

  <h3>Your Cocktails Recipes</h3>

  <div id="cocktail_grid">
    <%= render @cocktails %>
  </div>

</div>
