<h3>User</h3>

<p>User: <%= @user.name %></p>

<p>Email: <%= @user.email if @user.email %></p>

<%= image_tag gravatar_url(@user.email) %>

<h3>Your Cocktails Recipes</h3>

<div class="cocktails">
  <%= render @cocktails %>
</div>

