<div id="profile">

  <div class="info">
    <h1><%= @user.name %></h1>
    <h3>Email: <%= @user.email %></h3>
    <%= image_tag gravatar_url(@user.email) %>
  </div>

  <div class="cocktail_grid_wrapper">
    <h1>Your Cocktails Recipes</h1>
    <div id="cocktail_grid">
      <%= render @cocktails %>
    </div>
  </div>

</div>
