
<div id="home">
  <div id="search_button_container">
    <button id="search_button" class="pure-button pure-button-primary">Search by Ingredient</button> 
  </div>
  <div class="search_form_wrapper">
      <%= render :partial => 'cocktails/form_search' %>
  </div>
  <div id="cocktail_grid">

  </div>
</div>
