
<div id="home">
  <div class="search">
      <%= link_to 'search for cocktails' %> 
      <%= render :partial => 'cocktails/search' %>
  </div>
  <div class="cocktail_grid">
    <%= render @cocktails %>
  </div>
</div>
