
<div id="home">
  <button id="toggle_search_button">Search by Ingredient</button> 
  <div class="search">
      <%= render :partial => 'cocktails/search' %>
  </div>
  <div id="cocktail_grid">
    <%= render @cocktails %>
  </div>
</div>
