/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
*/

@import "normalize";
@import "config";
@import url(http://fonts.googleapis.com/css?family=Nixie+One);
@import "cocktail";
@import "forms";
@import "home";
@import "user";

html {
  /*// background: url("/img/background.jpg") no-repeat fixed;
  background-size: cover;*/
}

header, h1, h2 {
  font-family: "oriya mn", helvetica;
}

body {
  font-family: "Nixie One", helvetica;
  color: white;
  background-image: url("/img/backgroundchalk.jpg");
  background-size: cover;
}

a.brand {
  float: left;
}

.brand img{
  height: 35px;
}

/*ul.nav {
  list-style: none;
  margin: 0 0 2em;
  padding: 0;
}

ul.nav li {
  display: inline;
}*/

#flash_notice, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.container {
}

.button {
  border-radius: 5px;
  padding: 9px;
  background: $plum_color;
  border: 1px solid darken($plum_color, 10%);
  color: $off_white;
  text-decoration: none;
  display: inline-block;
  margin: 9px 0;

  &:hover {
    background: lighten($plum_color, 6%);
    border: 1px solid lighten($plum_color, 2%);
  }
}

.button-large {
  font-size: 16px;
}

.button-small {
  font-size: 12px;
  padding: 6px;

}

a{
  text-decoration: none;
  color: #444;
}
