.new_cocktail_form {

  .ingredient {
    border: none;
    padding: 0px;
    position: relative;
    margin-bottom: 9px;

    .field {
      padding: 0;
    }
  }

  .remove-ingredient {
    position: absolute;
    top: -7px;
    right: 9px;
    padding: 10px;
  }
}

.ingredients {
  padding: 20px 0;
}

.cocktails-new {

  .container {
    width: 700px;
    border-radius: 8px;
  }
}


/*css for cocktail display page here:*/

  .cocktail_description {
    background-color: rgba(70, 70, 70, 0.6);
    width: 20%;
    min-width: 10em;
    padding: 1em;
  }

body.cocktails-show {
  margin-left: 0;
}

body.cocktails-show div.container {
  padding-left: 0px;
}

#description_content h1{
  margin-top: 0px;
}

#description_content ul {
  padding-left: .5em;
}

#description_content ul li{
  list-style: none;
  padding-bottom: .5em;
}