.field {
  padding: 9px;

  label {
    display: block;
    font-size: 16px;
    color:#444;
  }
}

input[type=text], input[type=email], textarea, input[type='password'] {
  font-size: 14px;
  padding: 9px;
  border-radius: 3px;
  border: 1px solid #eee;
  width: 85%;

  &.small {
    width: 80px;
  }

  &.normal {
    width: 200px;
  }
}

.sign_up, .new_cocktail_form, .sign_in  {
  border:1px solid #E3E4E5;
  width:550px;
  border-radius: 8px;
  background-color: #252525;

  h2{

  }
}

.centered {
  width: 600px;
  margin: 0 auto;
}