.field {
  padding: 30px;

  label {
    display: block;
    font-size: 24px;
    padding-bottom:20px;
    color: $plum_color;
  }
}

input[type=text], input[type=email], textarea, input[type='password'] {
  font-size: 16px;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #eee;
  width: 95%;
  background-color: $input_text;
  color: $input_font;

  &.small {
    width: 80px;
  }

  &.normal {
    width: 200px;
  }
}

.sign_up, .new_cocktail_form, .sign_in  {
  border:1px solid #E3E4E5;
  width:550px;
  border-radius: 8px;
  background-color: $form_color;

  h2{
    color: $plum_color;
    padding: 16px;
    margin-left: 24px;
  }

  input[type=submit]{
    margin-left:16px;
  }
}

.centered {
  width: 600px;
  margin: 0 auto;
}