// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#home {
  width: 90%;
  margin: 0 auto;

  #search_button_container {
    margin: 0 auto;
    text-align: center;
  }

  #overlay {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    z-index: 1000;
  }

  #modal {
    position:absolute;
    width:800px;
    height: 500px;
    background-color: rgba(255,255,255,0.8);
    padding:8px;
    border: 1px solid silver;
    border-radius: 5px;
    z-index: 1001;

    .ingredients_wrapper{
      width: 90%;
      position: relative;
      text-align: center;
      margin-top: 20px;

      .ingredient {
      display: inline-block;
      width: 200px;
      text-align: left;
    }
    }
  
  }

  .search_form_wrapper {
    position: relative;
    margin: 0 auto;
    text-align: center;
    display: none;
  }
}

#cocktail_grid {

  .cocktail {
    margin: 10px;
    border-radius: 5px;

    img  {
      border-radius: 5px;
    }
  }
    
}
