// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#home {

  .search_form_wrapper {
    position: relative;
    margin: 0 auto;
    text-align: center;
    display: none;
  }

  #cocktail_grid {

    .cocktail {
      padding-bottom: 10px;
      padding-right: 10px;
    }
    
  }
}
