@import "config";

#home {
  width: 90%;
  margin: 0 auto;

  .search_container {
    position: relative;
    width: 800px;
    margin: 40px auto;
  }

  #search_button_container {
    display: inline-block;
    width: 250px;
    padding: 15px;
    float: right;
    text-align: center;
    background: #444;
    background: rgba(0,0,0,.2);
    border-radius: 10px;
    box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);

    button {
      overflow: visible;
      position: relative;
      border: 0;
      padding: 0;
      cursor: pointer;
      height: 40px;
      width: 220px;
      font-weight: 900;
      color: #fff;
      text-transform: uppercase;
      background: $plum_color;
      border-radius: 0 3px 3px 0;      
    }   
     
    button:hover{     
        background: darken($plum_color,5%);
    }   
     
    button:active,
    button:focus{   
        background: $plum_color;
        outline: 0;   
    }
   
    button:before { /* left arrow */
      content: '';
      position: absolute;
      border-width: 8px 8px 8px 0;
      border-style: solid solid solid none;
      border-color: transparent $plum_color transparent;
      top: 12px;
      left: -6px;
    }
   
    button:hover:before{
        border-right-color: $plum_color;
    }
   
    button:focus:before,
    button:active:before {
      border-right-color: $plum_color
    }      
     
    button::-moz-focus-inner { /* remove extra button spacing for Mozilla Firefox */
      border: 0;
      padding: 0;
    } 
  }

  #static_search_container {
    display: inline-block;

    .cf:before, .cf:after {
        content:"";
        display:table;
    }
     
    .cf:after {
        clear:both;
    }
     
    .cf {
        zoom:1;
    }

    /* Form wrapper styling */
    .form-wrapper {
        width: 450px;
        padding: 15px;
        background: #444;
        background: rgba(0,0,0,.2);
        border-radius: 10px;
        box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
    }
 
/* Form text input */
 
    .form-wrapper input {
        width: 330px;
        height: 20px;
        padding: 10px 5px;
        float: left;    
        font-weight: 400;
        border: 0;
        background: #eee;
        border-radius: 3px 0 0 3px;      
    }
     
    .form-wrapper input:focus {
        outline: 0;
        background: #fff;
        box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
    }
     
    .form-wrapper input::-webkit-input-placeholder {
       color: #999;
       font-weight: normal;
       font-style: italic;
    }
     
    .form-wrapper input:-moz-placeholder {
        color: #999;
        font-weight: normal;
        font-style: italic;
    }
     
    .form-wrapper input:-ms-input-placeholder {
        color: #999;
        font-weight: normal;
        font-style: italic;
    }    
     
    /* Form submit button */
    .form-wrapper button {
        overflow: visible;
        position: relative;
        float: right;
        border: 0;
        padding: 0;
        cursor: pointer;
        height: 40px;
        width: 110px;
        font-weight: 900;
        color: #fff;
        text-transform: uppercase;
        background: $plum_color;
        border-radius: 0 3px 3px 0;      
    }   
       
    .form-wrapper button:hover{     
        background: $plum_color;
    }   
       
    .form-wrapper button:active,
    .form-wrapper button:focus{   
        background: $plum_color;
        outline: 0;   
    }
     
    .form-wrapper button:before { /* left arrow */
        content: '';
        position: absolute;
        border-width: 8px 8px 8px 0;
        border-style: solid solid solid none;
        border-color: transparent $plum_color transparent;
        top: 12px;
        left: -6px;
    }
     
    .form-wrapper button:hover:before{
        border-right-color: $plum_color;
    }
     
    .form-wrapper button:focus:before,
    .form-wrapper button:active:before{
            border-right-color: $plum_color;
    }      
     
    .form-wrapper button::-moz-focus-inner { /* remove extra button spacing for Mozilla Firefox */
        border: 0;
        padding: 0;
    } 
  }



  #overlay {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    z-index: 1000;
    display: none;
  }

  #modal {
    position:absolute;
    width:800px;
    height: 500px;
    background-color: rgba(255,255,255,0.8);
    border-radius: 5px;
    z-index: 2000;
    display: none;
    text-transform: uppercase;
    font-size: 2em;



    .ingredients_wrapper{
      position: relative;
      margin: 20px auto;
      text-align: center;

      form {
        color: #504D4D;
      }

      h2 {
        background-color: $red;
        color: $off_white;
        padding-left: 5px;
      }

        .ingredient {
          margin-left: 20px;
          font-size: 0.75em;
          display: inline-block;
          width: 200px;
          text-align: left;
          text-transform: capitalize;
      }
    }
  
  }

  .search_form_wrapper {

    display: none;
  }
}
